header {
    text-align: center;
    padding-bottom: 20px;
}

#heading {
    font-family: 'Fredoka', sans-serif;
    font-size: 3rem;
    color: #f0f8ff;
    background: linear-gradient(to right, #a8e063, #56ab2f);
    padding: 1rem 2rem;
    text-align: center;
}

.subtitle {
    margin-top: -10px;
    font-size: 1.2rem;
    color: #555555;
    font-style: italic;
}